body{

}
.bg-dark{
  transition: 200ms ease;
  background: transparent !important;
}
.bg-dark.scrolled{
  background: black !important;
}
.box{

      display: inline-block; /* Make the width of box same as image */
  }
  .box .text{
      position: absolute;
      z-index: 999;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 40%; /* Adjust this value to move the positioned div up and down */
      text-align: center;
      width: 60%; /* Set the width of the positioned div */
  }
  .box .text h1{
      font-size: 300%;
    color: white;

    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 5px;
    letter-spacing: 10px;
  }
.box .text p{
  padding-top: 10px;
    font-weight: 600;
    color: white;
    font-size: 200%;
    padding-bottom: 15px;
  }
.navbar{
  width: 100%;
}
.nav-item{
  padding-left: 5px;
  padding-right: 5px;
}
.dropdown-item{
background-color: grey;
  color: inherit;
}
.about{
  padding: 4% 13%;
  background-image: url(88246.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.us{
  padding-top: 5%;
}
.accordion {
background-color: transparent;
  font-weight: 600;
  color: black;
  cursor: pointer;
  padding: 6px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
  outline: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: transparent;
  display: none;
  overflow: hidden;
  font-family: "Noto Sans HK";
  font-size: .9em;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 7px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.FAQ{

}
.faqs{
  padding-top: 35px;
}
#f{
  padding-bottom: 13px;

}
.faq{
  width: 100%;
  height: 2px;
  color: black;
}
.events{
  margin: 0;
  padding: 35px 0;

}
.box{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  transition: .5s;
  padding: 2px;
  margin-bottom: 5px;
  font-family: "Noto Sans HK"
}
.box:hover{
  transform: translateY(-2px);
    box-shadow: 0 50px 50px rgba(0,0,0,.5);
}
.box .imgBox{
  position: relative;
}
.box .imgBox img
{
  transition: .5s;
}
.box:hover .imgBox img{
  opacity: .5;
  transform: translateY(-10px);
}
.box .imgBox1{
  position: relative;
}
.box .imgBox1 img
{
  transition: .3s;
}
.box:hover .imgBox1 img{
  opacity: .5;
  transform: translateY(0px);
}
.box .content{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  transition: .5s;
  opacity: 0;
}
.box:hover .content{
  bottom: 0;
  opacity: 1;
}
.box .content h3
{
  font-size: 30px;
  color: #2c3e50;
  font-weight: 700;
}
.box .content p
{
  font-size: 15px;
  color: black;
  font-weight: 400;
}
.box .content .btnD{
  border: none;
  background: #fe1b70;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300;
  transition: 0.5s;

}
.box .content .btnD:hover{
  background: #f6fe1b;
  color: #262626;
}
h1{
  text-align: center;
  font-family: "Playfair Display";
}
#features{
  padding-top: 7%;
  background-image: url("89865.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #ecf0f1;
}

.fea{
  padding: 7% 15%;
}
.feature{
  text-align: center;
}
.fea h2{
  color: #ecf0f1;
}
.fea p{
  color: #bdc3c7;
}
.fas{
  margin-bottom: 1rem;
  color: #7f8c8d;
}
.fas:hover{
 color: #ecf0f1;
}
.contacts{
  padding-top: 5%;
  background-image: url("89865.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #ecf0f1;
}
.contact{
  padding: 7% 15%;
  padding-bottom: 3%;
  text-align: center;
}
.contact h2{
  font-size: 130%;
  font-family: "Roboto";
  font-weight: 700;
  color: #b2bec3;
}
.contact p{
  font-size: 90%;
font-family: "Noto Sans HK";
font-weight: 200;
color: #95a5a6;
}
.fa-map-marker-alt{
  color: red;
}
.fa-mobile-alt{
  color: #2980b9;
}
.fa-envelope{
  color: white;
}
.con1{
  padding-left: 10%;
  padding-right: 10%:
}
.con2{
  padding-left: 10%;
  padding-right: 10%:
}
.con3{
  padding-left: 10%;
  padding-right: 10%:
}
.contacts fas{
  margin-bottom: 1rem;
  color: white;
}
.food {
  padding-top: 2%;
  padding-left: 30%;
  padding-right: 20%;
}
footer{
  padding: 1% 15%;
  text-align: center;
}
footer h3{
  font-weight: 150;
  font-size: 0.8rem;
}
.main{
text-align: center;
padding-top: 5%;
padding-bottom: 5%;
}
.spon{
  padding-top: 5%;
  background-image: url("88246.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.fa-facebook{
  color: blue;
  font-size: 40px;
}
.fa-youtube{
  color: red;
  font-size: 40px;
}
#carouselExampleControls{
  background: transparent !important;
}

.carousel-item{
    background: transparent !important;
    padding-top: 5%;
    padding-bottom: 5%;
}
.sub{
  padding-top: 2%;
}
